body {
    background: linear-gradient(30deg, rgb(77,77,77), rgb(58, 58,58));

}

main {
    margin: 40px auto;
}

header { 
    position: static;
}

main li { 
    display: flex;
    background-color: antiquewhite;
    box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.02);
    border-radius: 6px;
    overflow: hidden;
}

main ul {
    width: 800px;
    margin: 0 auto;
    color: darkslategray;
}

main li img {
    width: 300px;
    height: 280px;
    object-fit: cover;

}

main li h2 {
    margin-top: 0;
}

main li p {
    margin-bottom: 40px;
}

main li a {
    color: seagreen;
    justify-content: right;
}


main li a:hover {
    background-color: aquamarine;

}

.item-content {
    padding: 24px;
    width: 250px;
}
