
body {
    font-family: "Quicksand", sans-serif;
    margin: 0;

}

header {
    display: flex;
    margin: 15px 60px;
    position: absolute;
    align-items: center;
    width: 85%;
    box-sizing: border-box;
    justify-content: space-between;

}

#page-logo a{
    font-family: "Oleo Script", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;

}

a {
    text-decoration: none;
    color: burlywood;
    padding: 10px;
    border-radius: 3px;
    font-size: 25px;
}

a:hover { 
    color: black;
    background-color: yellow;
    border-radius: 10px;
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
}

li { 
    margin: 5px;
}


footer {

    background: linear-gradient(70deg, grey, darkslategrey);
    padding: 25px 0;

}

footer ul {
    margin: 0 auto;
    width: 20%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

footer img {

    width: 100px;
}

footer a {

}

footer a:hover { 
    background-color: transparent;
    border-radius: 10px;
    border-width: 5px;
    border-color: aliceblue;
}