#hero {
    height: 800px;
    background-image: url("/images/places/ocean.jpg");
    background-position: center;
    background-size: cover;
    align-items: center;

}

#hero-content {
    width: 600px;
    border-radius: 10px;
    background-color: rgb(51, 47, 47, .8);
    text-align: center;
    margin: 0px auto;
    box-shadow: 2px 4px 8px rgb(67,67,67);
    padding: 50px 0;
    position: relative;
    top: 150px;

}

#hero-content h1 {
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    margin: 0;

}

#hero-content p {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300px;
    margin-bottom: 50px; 
}

#hero-content a {
    text-decoration: none;
    background-color: yellow;
    padding: 12px 24px;
    border-radius: 3px;
    font-weight: bold;
}


#destinations {
     background-color:rgb(171, 219, 219);
     margin: auto;
     color: darkslategrey;

}

#destinations h2 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 20px;
    text-shadow: 1px 1px 2px black;

}

#destinations ul {
    display: flex;
    margin: 0px 50px 0px 10px;
    list-style-type: none;
    justify-content: space-between;
}

#destinations li {
    align-items: center;
    justify-content: center;
}

#destinations p {
    font-size: 20px;
    text-align: center;
    margin-top: 0px;
}

.destination img{
    height: 200px;
    width: 400px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 4px 4px 5px black

}